body {
	font-family: Sans-serif;
	text-align: center;
}

#header {
	font-weight: bold;
	font-size: 40pt;
	height: 70px;
	text-shadow: -2px 2px 2px #999;
	vertical-align: middle;
	background: url(logo1.png) no-repeat top left;
}

#header-left {
	font-size: 16pt;
	text-shadow: none;
	float: left;
	padding-left: 70px;
}

#with {
	padding-top: 10px;
	padding-left: 150px;
	font-size: 12pt;

}

#special_guest {
	padding-left: 120px;
	font-weight: bold;
	font-size: 50pt;
	text-shadow: -2px 2px 2px #999;
	color: #f50000;
}